<!DOCTYPE HTML>
<html>
	<head>
		<title>AsanApp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/bootstrap.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>

	<body>
	
	<style>
	@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

	
	#list1{ 
		background-color: #F3E3C6;
		text-align: center;
		
		
		color:black;
	}
	#list2{
		background-color: #D9B687;
		text-align: center;
		
		color:black;
	}
	#list3{
		background-color: #8C7057;
		text-align: center;
		
		color:black;
	}
	#list4{
		background-color: #BD7A5E;
		text-align: center;
		
		color:black;
	}
	.img {
		height:100px;
		width:250px
	}
    .map { clear:both; position: relative;  width:100%; height: 100%; margin: 0 0 0 -118px ;} 
    .list1 { clear:both; position: absolute; z-index: 7; top: 20px; left: 300px; }
    .list2 { clear:both; position: absolute; z-index: 2; top: 113px; left: 303px; } 
    .list3 { clear:both; position: absolute; z-index: 3; top: 5px; left: 371px; } 
    .list4 { clear:both; position: absolute; z-index: 4; top: 0px; left: 138px; } 
    .list5 { clear:both; position: absolute; z-index: 5; top: 156px; left: 118px; } 
    .list6 { clear:both; position: absolute; z-index: 6; top: 133px; left: 317px; } 
    #text{
    	font-family: Nanum Pen Script;
    	font-size: 50px;
    	position: relative;
		height:auto;
		line-height:50px;
    }
	</style>
		<!-- Header -->
			<div id="header" class="skel-panels-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">Proteen</h1>
							<span class="byline">Wed Design Crew</span>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--
							
								Prologue's nav expects links in one of two formats:
								
								1. Hash link (scrolls to a different section within the page)
								
								   <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>
							
							-->
							<ul>
								<li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></a></li>
								<li><a href="/home/about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About</span></a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Portfolio</span></a></li>
								
								
							</ul>
						</nav>
						
				</div>
				
				
			</div>

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<header>
								<br>
								<img src="/img/AsanApp.png">
							</header>
							
							<article class="item" >
										<a class="image full">
										<img style="height:80%; width:80%;" src="/img/header.png" />
										</a>
							</article>


						</div>
					</section>
					
				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">
					
							
							<div class="row">
								<div class="6u">
									 <div class="col-xs-6" id="list1">
						             	<a href='/home/list/1'>
								             <div align="center" id="text" style="border-top-left-radius:50px;" >
								             먹고<br>마시고
								             </div>
						             	</a>
						             </div>
						              
						             <div class="col-xs-6 " id="list2">
						             	<a href='/home/list/2'>
						             		<div align="center" id="text"  >
						             		살빼고<br>몸짱되고
						             		</div>
						             	</a>
						             </div>
								</div>
								<div class="6u">
									
									 <div class="col-xs-6" id="list3">
						              	<a href='/home/list/3'>
						              		<div align="center" id="text"  >
						              		놀고<br>또 놀고
						              		</div>
						              	</a>
						             </div>
						             
						             <div class="col-xs-6 " id="list4">
						                <a href='/home/list/4'>
						              		<div align="center" id="text"  >
						              		그리고<br>등등
						              		</div>
						              	</a>
						             </div>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						

							<header>
								<h2>지도</h2>
							</header>
							
					

						
					</section>
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra 
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia 
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc 
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>
							
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="juhogi0082@daum.net" class="button submit">Send Message</a>
									</div>
								</div>
							</form>

						</div>
					</section>
			
			</div>

		<!-- Footer -->
			<div id="footer">
				
				<!-- Copyright -->
					<div class="copyright">
						<p>&copy; 2014 Proteen All rights reserved.</p>
						<ul class="menu">
							<li>Design: JHG</a></li>
						</ul>
					</div>
				
			</div>

	</body>
</html>
