@font-face{
  font-family:'NanumBarunGothic';
  font-style:normal;
  src:url('/fonts/NanumBarunGothic.eot');
  src:url('/fonts/NanumBarunGothic.eot')format('embedded-opentype'),
  url('/fonts/NanumBarunGothic.woff')format('woff');
}
