<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel-noscript.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-wide.css" />
      <link rel="stylesheet" href="css/bootstrap.css" />
    </noscript>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--
    <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
    -->
    <link rel="stylesheet" href="/animate.css" />
<script>
$(document).ready(function() {
  $("#home").removeClass("active")
  $("#about").addClass("active")
  })
</script>
  </head>

  <body>


    <style>
      *{
        font-family: 'NaumBarunGothic'
      }  
      h4.title{
        font-size: 50px;
      }

      div.wrap{
        position:absolute;
        left:0px;
        width:100%;
        height:calc(100% - 42px);
      }
      div.jumbotron2{
        position:relative;
        width:100%;
        height:100%;
        background-color: #f1f1f1;
        border-radius: 10px; 
        margin:0 auto; 
        padding:20px;
        border:2px outset;
        max-width:860px;
        overflow:scroll;
      }
   
    </style>




    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <div id="header" class="skel-panels-fixed">

        <div class="top">

          <!-- Logo -->
            <div id="logo">
              <span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
              <h1 id="title">Proteen</h1>
              <span class="byline">Wed Design Crew</span>
            </div>

          <!-- Nav -->
            <nav id="nav">
              <!--
              
                Prologue's nav expects links in one of two formats:
                
                1. Hash link (scrolls to a different section within the page)
                
                   <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>
              
              -->
              <ul>
                <li><a href="#home" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></a></li>
                <li><a href="/home/about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About</span></a></li>
                <li><a href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Portfolio</span></a></li>
                
                
              </ul>
            </nav>
            
        </div>
        
        
      </div>

  <div class = "wrap" >
    <div class="jumbotron2" id= "jumbotron2" class="col-xs-12" ; style="background-color:#F1F1F1">
      <div style="margin: 10px 0 0 10px">
      <div style="height:77px; width:100%; max-width:374px;background-image:url('/img/AsanApp.png'); background-repeat:no-repeat;background-size:100%;">
      </div>
      <p></p>
      <p></p>
      <p>저희 아산앱은 아산시내의 청소년들이 여가생활을 보낼 수 있는 공간을 소개해놓은 웹페이지입니다.<br>이 웹페이지를 통해 많은 청소년들이 유익한 여가시간을 보냈으면 좋겠습니다.</p>
      </div>
      
      <div style="margin: 50px 0 0 10px">
      <div style="height:77px; width:100%; max-width:374px;background-image:url('/img/ProTeen.png'); background-repeat:no-repeat;background-size:100%;">
       </div>
       <p></p>
      <p></p>
      <p>저희 ProTeen은 program과 teenager의 합성어로 프로그램을 만드는 십대들이라는 의미입니다.<br>저희는 아산스마트 스쿨에서 모였으며 미래를 향한 열정을 담아 이 페이지를 만들게 되었습니다.</p>
      </div>
     
      
      <div style="margin: 50px 0 0 5px">
      <div style="height:77px; width:100%; max-width:374px;background-image:url('/img/Members.png'); background-repeat:no-repeat;background-size:100%;">
      </div>
      <p></p>
      <p></p>
      <li>
      <span style="margin:0 5px 0 0";>주호기</span><span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #ec7063; ">개발</span>
      <span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #58d68d;">디자인</span>
      <span class="label label-large label-primary"style="margin:0 5px 0 0 ; background-color: #f1c40f;">자료조사</span>
      </li>  
      <li>
      <span style="margin:0 5px 0 0";>이유정</span><span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #5dade2">기획</span>
      <span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #58d68d;">디자인</span>
      <span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f;">자료조사</span>
      </li>   
      <li>
      <span style="margin:0 5px 0 0";>김재헌</span><span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f;">자료조사</span>
      <span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #5dade2">기획</span>
      </li>
      <li>
      <span style="margin:0 5px 0 0";>김영현</span><span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f;">자료조사</span>
      <span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #5dade2">기획</span>
      </li>
      <li>
      <span style="margin:0 5px 0 0";>강민형</span><span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f;">자료조사</span>
      </li>
      <li>
      <span style="margin:0 5px 0 0";>이원빈</span><span class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f;">자료조사</span>
      </li>
  
      </div>

      <div style="margin: 50px 0 50px 5px">
      <div style="height:77px; width:100%; max-width:374px;background-image:url('/img/Contact.png'); background-repeat:no-repeat;background-size:100%;">
      </div>
      <p></p>
      <li><strong>juhogi0082@naver.com</strong></li>
      </div>

      
    </div>
  </div>
</body>
