
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  </head>

  <body>
    <style>
      .border{
        border:1px solid;
      }
      .border-top{
        border-top:1px solid;
      }
      .border-bottom{
        border-bottom:1px solid;
      }
      .border-left{
        border-left:1px solid;
      }
      .border-right{
        border-right:1px solid;
      }
      div.each_item{
        border-radius:5px; background-color:#fdfeff; height:100px;
        border:2px outset;
      }
      div.pic{
        float:left;
        height:100%;
        border-radius:2px;
        width:100px;
        border:1px outset;
      }
      div.txt{
        padding:5px;
        float:left;
        height:100%;
        width:calc(100% - 100px);
      }
      div.jumbotron2{
        background-color: #f1f1f1;
        border-radius: 10px; 
        margin:0 auto; 
        padding:20px;
        border:2px outset;
        max-width:860px;
      }
      p.name{
        text-align:left;
        font-size:1.3em;
      }
      p.description{
        text-align:left;
        font-size:0.8em;
      }
      div.button{
        position:relative;
        float:right;
        line-height:600%;
      }
      div.content{
        float:left;
        width:calc(100% - 68px);
      }
    </style>
  <div class="wrap">
    <div class="jumbotron2" >

      <iframe src="http://naver.com" width="300" height="300" style=" zoom:100%;"></iframe>
        <!-- 여기서부터 지도--!>
<!--
        <style>v\:* { behavior: url(#default#VML); }</style>
        <script type="text/javascript">
                try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}
        </script>
        <script type="text/javascript" src="http://openapi.map.naver.com/openapi/naverMap.naver?ver=2.0&key=324d4c6922a651b7bb4d69c137266f5"></script> 
          

        <div id = "testMap2" class="col-md-6 hidden-xs hidden-sm" style="border:1px solid #000;"></div>
         <script type="text/javascript">
                                var oPoint = new nhn.api.map.LatLng(37.5010226, 127.0396037);
                                nhn.api.map.setDefaultPoint('LatLng');
                                oMap = new nhn.api.map.Map('testMap2', {
                                                        point : oPoint,
                                                        zoom : 10, // - 초기 줌 레벨은 10으로 둔다.
                                                        enableWheelZoom : true,
                                                        enableDragPan : true,
                                                        enableDblClickZoom : false,
                                                        mapMode : 0,
                                                        activateTrafficMap : false,
                                                        activateBicycleMap : false,
                                                        minMaxLevel : [ 1, 14 ],
                                                        size : new nhn.api.map.Size(400, 400)
                                });

                                var mapZoom = new nhn.api.map.ZoomControl(); // - 줌 컨트롤 선언
                                mapZoom.setPosition({right:40, bottom:40}); // - 줌 컨트롤 위치 지정
                                oMap.addControl(mapZoom); // - 줌 컨트롤 추가.
          </script>




        <div id = "testMap" class="hidden-md hidden-sm hidden-lg col-xs-12" style="border:1px solid #000;"></div>
         <script type="text/javascript">
                                var oPoint = new nhn.api.map.LatLng(37.5010226, 127.0396037);
                                nhn.api.map.setDefaultPoint('LatLng');
                                oMap = new nhn.api.map.Map('testMap', {
                                                        point : oPoint,
                                                        zoom : 10, // - 초기 줌 레벨은 10으로 둔다.
                                                        enableWheelZoom : true,
                                                        enableDragPan : true,
                                                        enableDblClickZoom : false,
                                                        mapMode : 0,
                                                        activateTrafficMap : false,
                                                        activateBicycleMap : false,
                                                        minMaxLevel : [ 1, 14 ],
                                                        size : new nhn.api.map.Size(300, 300)
                                });

                                var mapZoom = new nhn.api.map.ZoomControl(); // - 줌 컨트롤 선언
                                mapZoom.setPosition({right:40, bottom:40}); // - 줌 컨트롤 위치 지정
                                oMap.addControl(mapZoom); // - 줌 컨트롤 추가.
          </script>

          -->

      </div>
    </div>
