<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>AsanApp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/bootstrap.css" />
    </noscript>
    <%if !flash[:notice].nil?%>
      <script>
        alert("의견이 성공적으로 접수되었습니다.")
      </script>
    <% end%>

<!-- 웹폰트 불러오는 스크립트 -->
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
		<script>
		  WebFont.load({
		    custom: {
		      families: ['Nanum Pen Script', 'NanumBarunGothic', 'NanumGothicCoding'],
		      urls: ['http://fonts.googleapis.com/earlyaccess/nanumpenscript.css','/fonts/fonts.css',  ]
		    }
		  });
		</script>
<!-- 웹폰트 불러오는 스크립트 -->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>

	<body>
	
	<style>
/* 로딩이 느려서 웹폰트를 다른 방식으로 해결함.
	@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
	@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
*/
p{
  font-family:'NanumBarunGothic';
}
span{
  font-family:'NanumBarunGothic';
}
pre{
  font-family:'NanumBarunGothic';
}
a{
}
html{
}
body{
  font-family:'NanumBarunGothic';
}
div{

}
	
	#list1{ 
		background-color: #F3E3C6 ;
		text-align: center;
		color:black;
		height: 180px;
	}
	#list2{
		background-color: #D9B687 ;
		text-align: center;
		color:black;
		height: 180px;
	}
	#list3{
		background-color: #8C7057 ;
		text-align: center;
		color:black;
		height: 180px;
	}
	#list4{
		background-color: #BD7A5E;
		text-align: center;
		color:black;
		height: 180px;
	}
	#list1:hover { background-color: #7c549d }
	#list2:hover { background-color: #909b51 }
	#list3:hover { background-color: #9d5652 }
	#list4:hover { background-color: #4b4b4b }


	.img {
		height:100px;
		width:250px
	}
    
    #text{
    	font-family: Nanum Pen Script;
    	font-size: 60px;
    	position: relative;
		height:auto;
		display: table;
		vertical-align: middle;
		line-height: 80px;
		margin-right: auto;
		margin-left: auto;
		

    }
    
    #text2 {
    	font-family: Nanum Pen Script;
    	font-size: 30px;
    	text-align: center;
    	position: relative;
    	color: #DADADA;
    }
    #tag {
    	font-family: Nanum Pen Script;
    	font-size: 25px;
    	text-align: center;
    	position: relative;
    	padding: 0px 5px 0px 5px;
    	color: #585858;
    }
    .contacttext {
    	font-family: Nanum Pen Script;
    	font-size: 30px;
    	text-align: center;
    	position: relative;
    	color: #585858;
    }

   
    #AsanApp {
    	text-align: center;
    	position: relative;
    	width: 80%;
    	height: 80%;
    }
    .smallimage{
    	width: 110px;
    	height: 30px;
    	float: left;
    }
    .search {
    	width: 100%;
     	border:0;
      	border-radius:50px;
    	height: 35px;
    	background: rgba(145,145,145,0.5);
    	padding-left: 10px
    }
    
    .search2 {

    }
	</style>
		<!-- Header -->
			<div id="header" class="skel-panels-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span><img class="smallimage" src="/img/AsanApp.png" alt="" /></span>
							<h1 id="title">Proteen</h1>
							<span class="byline">Web Design Crew</span>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--
							
								Prologue's nav expects links in one of two formats:
								
								1. Hash link (scrolls to a different section within the page)
								
								   <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>
							
							-->
              <ul>
                <li> 
                  <div style="position:relative; height:35px; width:100%;">
                    <form action = "/home/list_searched" method="POST"> 
                      <span style="position; relative; width:65%; float: left; height:35px; margin-left: 12px">
                        <input class="search" type="text" name="keyword" > 
                      </span>
                      <span style="position:relative; float:right; width:20%; height:35px; margin-right:10px;">
                        <a input class="button submit" type="submit" style="height:36px; line-height:26px; width:45px; padding:5px; background-color:#f1f1f1; text-align:center; font-size:12px; color:#333333 !important; position:relative; right:0; border-radius:50px; margin-right: 15px; font-size: 24px; font-family: Nanum Pen Script;"  >검색</a> 
                      </span>
                    </form>
                  </div>
                </li>
								<li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">List</span></a></li>
								<li><a href="#about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About</span></a></li>
								
								
							</ul>
						</nav>
						
				</div>
				
				
			</div>

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one" style="background-color: #FFFEF9;">
						<div class="container">
							<div calss="col-xs-12">
							<br>
									<div style="position:relative; width:100%; height:auto; text-align:center;">
										<img style="position:relative; width:85%; max-width:200px; height:auto"src="/img/AsanApp.png">
									</div>
									
							
							<br>
									<div style="position:relative; width:100%; height:auto; text-align:center;">
										<img style="position:relative; width:100%; max-width:400px; height:auto;" src="/img/header.png" />
									</div>
							</article>
							</div>

						</div>
					</section>
					
				<!-- Portfolio -->
          <style>
          #list1{
            border-top-left-radius:6px;
          }
          #list2{
            border-bottom-left-radius:6px;
          }
          #list3{
            border-top-right-radius:6px;
          }
          #list4{
            border-bottom-right-radius:6px;
          }
          
          </style>
					<section id="portfolio" class="two" style="background-color: #D5BEBE;">
						<div class="container" style="position:relative; min-height:360px;">
					
							
							<div class="row" style="max-width:600px; position:absolute; margin:auto; top:0; left:0; right:0; bottom:0; padding: 0px 12px 0px 12px;">
								<div class="6u">
									 <div class="col-xs-6" id="list1"> 
						             	<a href='/home/list/1'>
								             <div align="center" id="text"  >
								             먹고<br>마시고
								             </div>
						             	</a>
						             </div>
						              
						             <div class="col-xs-6 " id="list2">
						             	<a href='/home/list/3'>
						             		<div align="center" id="text"  >
						             		살빼고<br>몸짱되고
						             		</div>
						             	</a>
						             </div>
								</div>
								<div class="6u">
									
									 <div class="col-xs-6" id="list3">
						              	<a href='/home/list/2'>
						              		<div align="center" id="text"  >
						              		놀고<br>또 놀고
						              		</div>
						              	</a>
						             </div>
						             
						             <div class="col-xs-6 " id="list4">
						                <a href='/home/list/4'>
						              		<div align="center" id="text"  >
						              		그리고<br>등등
						              		</div>
						              	</a>
						             </div>

								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					
    <style>
  
  }
  h4.title{
    font-size: 50px;
  }

  div.wrap{
    position:absolute;
    left:0px;
    width:100%;
    height:calc(100% - 42px);
  }
  div.jumbotron2{
    position:relative;
    width:100%;
    height:100%;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin:0 auto;
    padding: 0px 5px 0px 5px;:20px;
    border:2px outset;
    max-width:860px;
    overflow:scroll;
  }

</style>

<!--about-->
<section id="about" class="three" style="background-color: #444444;">
	<div class="container">

	
		<p style="font-size:80px; font-weight: 600; color: #ffffff; margin-bottom:0.8em;">About</p>
	


		<div style="margin: 10px 0 0 10px">
		<div style="height:77px; position:relative;">
		<div style="position:absolute; margin:auto; left:0; right:0; top:0; bottom:0;height:77px; width:100%; max-width:220px;background-image:url('/img/introduce.png'); background-repeat:no-repeat;background-size:100%;">
		</div>
		</div>
		<p id="text2" style="padding: 0 30px 0 30px;">저희 아산앱은 아산시내의 청소년들이 여가생활을 보낼 수 있는 공간을 소개해놓은 웹페이지입니다.<br>이 웹페이지를 통해 많은 청소년들이 유익한 여가시간을 보냈으면 좋겠습니다.</p>
		</div>

		<div style="margin: 50px 0 0 10px">
		<div style="height:77px; position:relative;">
		<div style="position:absolute; margin:auto; left:0; right:0; top:0; bottom:0;height:77px; width:100%; max-width:200px;background-image:url('/img/ProTeen.png'); background-repeat:no-repeat;background-size:100%;">
		</div>
		</div>
		<p id="text2" style="padding: 0 30px 0 30px; ">저희 ProTeen은 program과 teenager의 합성어로 프로그램을 만드는 십대들이라는 의미입니다.<br>저희는 아산스마트 스쿨에서 모였으며 미래를 향한 열정을 담아 이 페이지를 만들게 되었습니다.</p>
		</div>


		<div style="margin: 50px 0 0 5px">
			<div style="height:77px; position:relative;">
				<div style="position:absolute; margin:auto; left:0; right:0; top:0; bottom:0;height:77px; width:100%; max-width:200px;background-image:url('/img/Members.png'); background-repeat:no-repeat;background-size:100%;">
				</div>
				</div>
				<div style="position:relative; height:200px;width:100%;">
				<div style="position:absolute; margin:auto; left:0; right:0; top:0; bottom:0; width:400px; height:200px;">
				<li style="text-align:left; padding: 0 30px 0 30px;">
				<span id="text2" style="margin:0 5px 0 0";>주호기</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #ec7063; border-radius:4px; ">개발</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #58d68d; border-radius:4px;">디자인</span>
				<span id="tag" class="label label-large label-primary"style="margin:0 5px 0 0 ; background-color: #f1c40f; border-radius:4px;">자료조사</span>
				</li>
				<li style="text-align:left; padding: 0 30px 0 30px;">
				<span id="text2" style="margin:0 5px 0 0";>이유정</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #5dade2; border-radius:4px;">기획</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #58d68d; border-radius:4px;">디자인</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f; border-radius:4px;">자료조사</span>
				</li>
				<li style="text-align:left; padding: 0 30px 0 30px;">
				<span id="text2" style="margin:0 5px 0 0";>김재헌</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f; border-radius:4px;">자료조사</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #5dade2; border-radius:4px;">기획</span>
				</li>
				<li style="text-align:left; padding: 0 30px 0 30px;">
				<span id="text2" style="margin:0 5px 0 0";>김영현</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f; border-radius:4px;">자료조사</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #5dade2; border-radius:4px;">기획</span>
				</li>
				<li style="text-align:left; padding: 0 30px 0 30px;">
				<span id="text2" style="margin:0 5px 0 0";>강민형</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f; border-radius:4px;">자료조사</span>
				</li>
				<li style="text-align:left; padding: 0 30px 0 30px;">
				<span id="text2" style="margin:0 5px 0 0">이원빈</span>
				<span id="tag" class="label label-large label-primary" style="margin:0 5px 0 0 ; background-color: #f1c40f; border-radius:4px;">자료조사</span>
				</li>
				</div>
			</div>
		</div>
		<br>
	</div>
</section>	


						
					
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<div style="height:77px; position:relative;">
								<div style="position:absolute; margin:auto; left:0; right:0; top:0; bottom:0;height:77px; width:100%; max-width:200px;background-image:url('/img/Contact.png'); background-repeat:no-repeat;background-size:100%;">
								</div>
							</div>
             <p class="contacttext" style="padding: 0 30px 0 30px;">저희 ProTeen은 항상 더 좋은 AsanApp이 될 수 있도록 노력하고 있습니다. <br>혹시 부족한 부분, 개선할 점이 있다고 생각하시면 의견을 보내주세요.(이름과 답변받을 본인의 이메일을 써주세요.)</p>
							
							<form method="post" action="/home/send_email">
								<div class="row half">
									<div class="6u"><input style="width:100% !important" type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input style="width:100% !important"type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row_fake">
									<div class="12u">
										<textarea name="contents" style="width:100% !important" placeholder="Message"></textarea>
									</div>
								</div>
								<br>
								<div class="row_fake">
									<div class="12u">
										<a type="submit" class="button submit">Send Message</a>
									</div>
								</div>
							</form>

						</div>
					</section>
			
			</div>

		<!-- Footer -->
			<div id="footer">
				
				<!-- Copyright -->
					<div class="copyright">
						<p>&copy; 2014 Proteen All rights reserved.</p>
						<ul class="menu">
							<li>Design: JHG</a></li>
						</ul>
					</div>
				
			</div>

	</body>
</html>
