
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  </head>

  <body>


    <div class="jumbotron" style="
        background-color:  #C9C9C9;
        border-radius: 10px; ">
        <h1 style="font-family : 휴먼편지체">아산시 지역알리미</h1>
        <p class="lead" style="font family : 휴먼편지체 ">아산시 스마트스쿨내 웹동아리인 ProTeen이 만든 첫 학생 지역알리미 서비스입니다.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">더보기</a></p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xs-6">
          <div class="col-sm-6" style="
          ">
            <h2>분식</h2>
            <p>Donec id elit non mi porta gravida at eget metus.  </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-sm-6" style="
          ">
            <h2>중식</h2>
            <p>Donec id elit non mi porta gravida at eget metus.  </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
      </div>
    </div><!--row-->
    <div class="row">
      <div class="col-sm-6 col-xs-6">
          
          <div class="col-sm-6" style="
          ">
            <h2>여가</h2>
            <p>Donec id elit non mi porta gravida at eget metus.  </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-sm-6" style="
          ">
            <h2>식당</h2>
            <p>Donec id elit non mi porta gravida at eget metus.  </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div>
      </div>
    </div><!-- row --!>

