<br>
<form action = "/home/modify_menu_process/<%=@menu.id%>" method = "POST">
  제목 :  <input name = "menu" value = "<%=@menu.menu%>">
<br>
가격 :  <input name = "price" value = "<%=@menu.price%>">
<br>
이미지경로 :  <input name = "img_url" value = "<%=@menu.img_url%>">
<br>
<input type="submit">
</form>
