<!DOCTYPE html>
<html>
<head>
  <title>AsanProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
     <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
      <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
      <script>
        WebFontConfig = {
          custom: function() {
            families: ['NanumBarunGothic']
            urls:['/fonts/fonts.css']
          } 
        };
      </script>
    <style>

    
      @font-face {
       font-family: 'NanumBarunGothic';
       font-style: normal;
       src: url('/fonts/NanumBarunGothic.eot');
       src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
       url('/fonts/NanumBarunGothic.woff') format('woff'),
       url('/fonts/NanumBarunGothic.ttf') format('truetype');
      }
</style>

    <link rel="shortcut icon" href="images/favicon.ico">
    


    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="jumbotron-narrow.css" rel="stylesheet">


</head>
<body>
    <div class="container" >
      <div class="header" style="margin:0 auto; padding:0px 0 0 0; max-width:860px; width:100%;">
        <ul class="nav nav-pills pull-right">
          <li class="active" style="width:60px;"><a style="padding:5px 7px 7px 9px;" href="#">Home</a></li>
          <li><a style="padding:5px 7px 7px 9px;" href="#">About</a></li>
          <li><a style="padding:5px 7px 7px 9px;" href="#">Contact</a></li>
        </ul>
       <h4 class="text-muted" style ="color : #DD962B; " > <a href="/">ProTeen</a></h3>
      </div>

<%= yield %>
</body>
</html>
